In [25]:
def get_hash(key):
    h=0
    for char in key:
        h+=ord(char)
        return h%100

In [26]:
get_hash('arpon')

97

In [27]:
class Hash_Table:
    def __init__(self):
        self.MAX=100
        self.arr = [[] for i in range(self.MAX)]
    def get_hash(self,key):
        h = 0
        for char in key:
            h += ord(char)
            return h % self.MAX
    def __setitem__(self,key,val):
        h = self.get_hash(key)
        found=False
        for idx,element in enumerate(self.arr[h]):
            if len(element)==2 and element[0]==key:
                self.arr[h][idx]=(key,val)
                found=True
                break
        if not found:
            self.arr[h].append((key,val))
    def __getitem__(self,key):
        h = self.get_hash(key)
        for element in self.arr[h]:
            if element[0]==key:
                return element[1]
    def __delitem__(self,key):
        h=self.get_hash(key)
        for idx,element in enumerate(self.arr[h]):
            if element[0]==key:
               del self.arr[h][idx]

In [28]:
t = Hash_Table()

In [29]:
t["march 6"] = 120
t["march 6"] = 78
t["march 8"] = 67
t["march 9"] = 4
t["march 17"] = 459
t["january 6"] = 120
t["january 27"] = 120
t["april 6"] = 78
t["september 8"] = 67

In [30]:
t['march 6']

78

In [31]:
t.get_hash('march 17')

9

In [32]:
t.arr

[[],
 [],
 [],
 [],
 [],
 [],
 [('january 6', 120), ('january 27', 120)],
 [],
 [],
 [('march 6', 78), ('march 8', 67), ('march 9', 4), ('march 17', 459)],
 [],
 [],
 [],
 [],
 [],
 [('september 8', 67)],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('april 6', 78)],
 [],
 []]

In [33]:
t['september 8']

67

In [34]:
del t['march 6']

In [35]:
del t['march 8']

In [36]:
t.arr

[[],
 [],
 [],
 [],
 [],
 [],
 [('january 6', 120), ('january 27', 120)],
 [],
 [],
 [('march 9', 4), ('march 17', 459)],
 [],
 [],
 [],
 [],
 [],
 [('september 8', 67)],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [('april 6', 78)],
 [],
 []]